name: GitHub CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup
      run: |
         command="git clone https://github.com/${{ github.repository }} && \ 
                  cd MeltPoolDG                                         && \
                  git fetch origin ${{ github.ref }}                    && \ 
                  git checkout FETCH_HEAD                               && \
                  mkdir build                                           && \ 
                  cd build                                              && \ 
                  cmake ..                                              && \ 
                  make -j2                                              && \ 
                  ctest -V";

         echo $command
         docker run -t dealii/dealii:master-focal /bin/sh -c "$command";

  build-adaflo:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup
      run: |
         command="git clone https://github.com/MeltPoolDG/adaflo.git    && \
          mkdir adaflo-build                                    && \
          cd adaflo-build                                       && \
          cmake ../adaflo                                       && \
          make -j2 adaflo                                       && \
          git clone https://github.com/${{ github.repository }} && \
          cd MeltPoolDG                                         && \
          git fetch origin ${{ github.ref }}                    && \
          git checkout FETCH_HEAD                               && \
          cd ..                                                 && \
          mkdir MeltPoolDG-build                                && \ 
          cd MeltPoolDG-build                                   && \
          cmake ../MeltPoolDG -D ADAFLO_LIB=/home/dealii/adaflo-build/ -D ADAFLO_INCLUDE=/home/dealii/adaflo/include/ && \
          make -j2                                              && \
          ctest -V";

         echo $command
         docker run -t dealii/dealii:master-focal /bin/sh -c "$command";

